.landingpage{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container{
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: #edf2f47a;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.startbtn{
  background: none;
  border-color: black;
  color:rgb(91, 84, 84);
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
}

.startbtn:hover{
  border-color: black;
  color:rgb(0, 0, 0);
  box-shadow: 0 0.5em 0.5em -0.4em #000000;
  transform: translateY(-0.25em);
  cursor: pointer;
}